@import '../../../styles/main.scss';

$fc: whitesmoke; // "font-color"
$bc: black; // "background-color"

.layout {
  background-color: $bc;
  color: $fc;
  min-height: 100vw;
  // border: 0.2rem solid whitesmoke;
  // padding: 0.5rem 1rem;
}
