@import '../../../styles/main.scss';

$fc: black; // "font-color"
$bc: whitesmoke; // "background-color"

.layout {
  background-color: $bc;
  color: $fc;
  border: 0.2rem solid whitesmoke;
  padding: 0.5rem 1rem;
}
